html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.content-container {
  display: flex;
  flex-direction: column;  
}

.title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
}

h2 {
  color: lightgray;
  font-weight: 100;
  text-align: center;
}

h3 {
  color: lightgray;
  font-weight: 100;
  font-style: italic;
  font-size: medium;
}

.mute {
  float: right;
  background-color: red;
}

.buttons > * {
  height: 2em;
  align-items: center;
  margin: 1.5em;
  border-radius: 100px;
}

.recordButton {
  margin: 1.5em;
  border-radius: 100px;
  background-color: red;
}

.recordButtonON {
  margin: 1.5em;
  border-radius: 100px;
  background-color: rgb(12, 179, 76);
}

.chat-html {
  display: flex;
  margin-bottom: 1em;
  height: 15em;
  width: 100%;
}

.chatHistory {
  width: 50%;
  justify-content: center;
  margin-right: 1em;
  padding: 0.5em;
  border: 1px solid rgb(0, 208, 255);
  border-radius: 5px;
  overflow: scroll;
}

.copyToClipboard {
  z-index: 99999;
  float: right;
}

.human {
  color: white;
  margin-bottom: 0.25em;
}

.AI {
  font-style: italic;
  color: lemonchiffon;
}

.html {
  width: 50%;
  justify-content: center;
  overflow: scroll;
  border: 1px solid rgb(0, 208, 255);
  border-radius: 5px;
  overflow: scroll;
  white-space: pre;
  cursor: pointer;
}

.render {
  width: 100%;
  height: 30em;
  border: 1px solid rgb(0, 208, 255);
  border-radius: 5px;
  overflow: scroll;
}